<div class="preloader-wrapper big active" *ngIf="loading; else elseBlock">
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <ul>
    <li *ngFor="let todo of this.todos.slice(0, 4)">
      <app-todo-item
        [todo]="todo"
        (todoChanges)="notifyUser($event)"
        (todoDeleted)="delTodo($event)"
      ></app-todo-item>
    </li>
    Add a todo :
    <app-todo-form (createTodo)="createTodo($event)"></app-todo-form>
  </ul>
</ng-template>
